stages:
  - package
  - release

.rules:
  rules:
    - if: $CI_COMMIT_TAG =~ "/^v[0-9]+[.][0-9]+[.][0-9]+$/"

goreleaser:
  stage: release
  # extends:
  #   - .rules
  image: docker:stable
  services:
    - docker:dind
  variables:
    DOCKER_REGISTRY: $CI_REGISTRY
    DOCKER_USERNAME: $CI_REGISTRY_USER
    DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD
    GIT_DEPTH: 0
    GORELEASER_DOCKER_EXTRA_ARGS: --entrypoint /bin/sh
  script: |
    docker run --rm --privileged \
      -v $PWD:$PWD \
      -w $PWD \
      -v /var/run/docker.sock:/var/run/docker.sock \
      -e DOCKER_USERNAME -e DOCKER_PASSWORD -e DOCKER_REGISTRY  \
      -e GITLAB_TOKEN -e CI_REGISTRY_IMAGE \
      -e CI_SERVER_URL \
      ${GORELEASER_DOCKER_EXTRA_ARGS:-} \
      goreleaser/goreleaser:latest \
      -c pwd && \
      ls
  # release \
  # --clean \
  # ${GORELEASER_EXTRA_ARGS:-}
