stages:
  - package
  - release

.rules:
  rules:
    - if: $CI_COMMIT_TAG =~ "/^v[0-9]+[.][0-9]+[.][0-9]+$/"

goreleaser:
  stage: release
  extends:
    - .rules
  image: docker:stable
  services:
    - docker:dind
  variables:
    GIT_DEPTH: 0
  script: |
    docker run --rm --privileged \
      -v $PWD:$PWD \
      -w $PWD \
      -v /var/run/docker.sock:/var/run/docker.sock \
      -e DOCKER_USERNAME -e DOCKER_PASSWORD -e DOCKER_REGISTRY  \
      -e GITLAB_TOKEN -e CI_REGISTRY_IMAGE \
      -e CI_SERVER_URL \
      ${GORELEASER_DOCKER_EXTRA_ARGS:-} \
      goreleaser/goreleaser:latest \
      release \
      --clean \
      ${GORELEASER_EXTRA_ARGS:-}
