apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: connections.mysql-provisioner.henrywhitaker.com
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  labels:
  {{- include "chart.labels" . | nindent 4 }}
spec:
  group: mysql-provisioner.henrywhitaker.com
  names:
    kind: Connection
    listKind: ConnectionList
    plural: connections
    singular: connection
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Connection is the Schema for the connections API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConnectionSpec defines the desired state of Connection
            properties:
              host:
                description: Hostname of the mysql instance
                type: string
              passwordSecretRef:
                properties:
                  key:
                    description: The key of the field containing the password
                    type: string
                  name:
                    description: The name of the secret
                    type: string
                required:
                - key
                - name
                type: object
              port:
                description: Port number the mysql instanceis listening on
                type: integer
              user:
                description: The user to connect to the mysql instance with.
                type: string
            required:
            - host
            - passwordSecretRef
            - port
            - user
            type: object
          status:
            description: ConnectionStatus defines the observed state of Connection
            properties:
              error:
                type: string
              status:
                description: True if the connection is successful, false if not
                type: boolean
              time:
                type: string
            required:
            - status
            - time
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []