apiVersion: v1
kind: Secret
metadata:
  name: password-sample
data:
  password: Ym9uZ28= # plaintext: bongo
---
apiVersion: mysql-provisioner.henrywhitaker.com/v1beta1
kind: Connection
metadata:
  labels:
    app.kubernetes.io/name: connection
    app.kubernetes.io/instance: connection-sample
    app.kubernetes.io/part-of: mysql-provisioner
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: mysql-provisioner
  name: connection-sample
spec:
  host: "10.0.0.36"
  port: 3306
  user: sample
  passwordSecretRef:
    name: password-sample
    key: password
