apiVersion: v1
kind: Service
metadata:
  name: {{ include "mysql-provisioner.fullname" . }}-controller-manager-metrics-service
  labels:
    app.kubernetes.io/component: kube-rbac-proxy
    app.kubernetes.io/created-by: mysql-provisioner
    app.kubernetes.io/part-of: mysql-provisioner
    control-plane: controller-manager
  {{- include "mysql-provisioner.labels" . | nindent 4 }}
spec:
  type: {{ .Values.metricsService.type }}
  selector:
    control-plane: controller-manager
  {{- include "mysql-provisioner.selectorLabels" . | nindent 4 }}
  ports:
	{{- .Values.metricsService.ports | toYaml | nindent 2 -}}